.logo{
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 75px;
    height: 75px;
}

@media only screen and (max-width: 991px){
    .logo img{
        width: 115px;
        height: 115px;
    }
}