.tarjt{
    text-align: center;
}

.tarjt:hover{
    border: solid 1px  black;

}

.tarjt-text{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}


.tarjt-image{
    height: 180px;
}

.Link {
    text-decoration: none;
    color: black;
}

.Link:hover{
    text-decoration: none;
    color: black;
}